.blogs_card {
  width: 360px;
  margin: 30px 0 10px 0;
}

.card_img {
  width: 100%;
}

.blogs_card_content {
  width: 300px;
  background-color: #fff;
  box-shadow: 2px 2px 8px rgb(157, 155, 155);
  padding: 20px;
  margin: -70px auto 30px auto;
  border-radius: 10px;
  position: relative;
}

.section_1 span {
  margin: 0 5px;
  font-size: 0.8rem;
}

.section_1 .title {
  color: var(--main-color);
  border: 1px solid rgb(195, 192, 192);
  border-radius: 30px;
  padding: 5px 10px;
  font-weight: 500;
}

.section_1 span:nth-child(2) {
  color: rgb(105, 104, 104);
  font-weight: 500;
}

.section_2 {
  font-family: "Rajdhani";
  font-size: 1.3rem;
  font-weight: 650;
  margin: 20px 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(191, 189, 189);
}

.admin {
  font-family: "Rajdhani";
  font-weight: 650;
}

.founder {
  color: rgb(146, 144, 144);
}

.right_arrow {
  background-color: #f3f7fb;
  border: 1px solid rgb(159, 158, 158);
  border-radius: 5px;
  padding: 10px;
  font-size: 2.5rem;
  transition: .5s;
}

.right_arrow:hover {
  cursor: pointer;
  background-color: var(--main-color);
  color: #fff;
  transform: scale(1.1);
}

@media screen and (max-width:768px) {
  .blogs_card_content {
    margin: -7px auto;
    z-index: -1;
  }

  .display {
    display: none;
  }
}